/* Border-box FTW https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    font-family: 'Arial Rounded MT Bold',sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*
 * Accessibility CSS
 */
.skippy {
    color: white;
    left: 0px;
    position: absolute;
    top: -40px; 
    transition: top 1s ease-out, background 1s linear;
}

.skippy:focus {
    color: #000;
    left: 0px;
    position: absolute;    
    top: 0px;
    transition: top .1s ease-in, background .5s linear;
}

.visually-hidden {
    position: absolute;
    left: -500px;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*
 * Header CSS
 */
header {
    text-align: center;
}
header h1 {
    margin-bottom: 0;
}
header ul {
    list-style-type: none;
    padding: 20px 0;
    margin-top: 0;
}
header li {
    display: inline; 
}